
body{

    margin: 0 auto;
    background: url("../IMGS/base_background.jpg") no-repeat fixed ;
    background-size: cover;

}



header
{

    display: inline-block;
    float: right;


}

header .vyber{



    background-color: black;
    color: white;
    font-size: 2.5em;
    border: 1px solid black;
    text-decoration: none;
    padding: 0 2.105em;  /* Vnutorne odsadenie textu,prve oznacuje vysku//height a druhe oznacuje sirku//width  */
    margin-top: -3em;

}


.dropdown:hover ul li {

    display: block;
    transition: .8s ease;

}

.dropdown:hover .vyber , .dropdown:active .vyber {

    color: gray;

}


header ul{

background-color: blue;
position: absolute;
margin: 0 auto;
padding: 0;



}

header .activepage{

        color: gold;

}
.kontajner_profile_page{

    margin-bottom: 8em;
    padding-top: 2.1em;
    height: 100%;

}

.kontajner {

    margin-bottom: 8em;
    padding-top: 2.1em;
    text-align: center;
    height: 100%;

}

.page_content_profile_page{

    display: flex;
    flex-direction: row;

}

.page_content_profile_left , .page_content_profile_middle , .page_content_profile_right{

    margin: 1em auto;

    width: 30%;

}
.page_content_profile_left{

    overflow: hidden;
    margin-left: 1em;
    width: 20%;


}
.page_content_profile_middle{

    width: 60%;
    text-align: center;
    border: 5px solid black;
}


.page_content_profile_right{


    margin-left: 1em;
    width: 20%;
    bottom: 0;

}


.profile_page_img{

    margin-top: 1em;
    margin-left: 1em;
    width: 40%;


}
.page_content_profile_right .deleteUserButton button{

   overflow: hidden;
    width: 80%;

}
.page_content {


    background-color: rgba(190,185,194,0.5);
    font-size: 1.5em;
    margin: 1em auto 0;
    width: 74%;
    border: 5px solid black;
    height: 100%;


}

.obal_rasy {

    display: flex;
    width: 100%;
    margin-bottom: 2em;
    justify-content: space-around;
    align-content: center;


}

.page_content .obrazok_autora{

    width: 50%;

}

.page_content .galaxy_map_image{

    max-width: 40em;

}

.page_content .obal_textu{

    display: inline-flex;
    width: 40%;
    text-align: left;

}

.page_content .obal_meme{

    display: inline-flex;
    word-wrap: break-word;
    word-break: break-all;
    width: 80%;
    text-align: left;

}


.page_content .obal_textu p{

    text-align: justify;
    word-wrap: break-word;

}
.page_content h1{
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;

}
.page_content .obal_textu img{

    object-fit: contain;

}

.page_content .races_obrazky{

    width: 100%;


}
header li{

   background-color: darkgray;
   display: none;
    padding: 0.5em 1.5em;                   /* Vnutorne odsadenie textu,prve oznacuje vysku//height a druhe oznacuje sirku//width  */
    border: 1px solid black;
    text-align: center;
    transition: .8s ease;


}

header li:hover{

background-color: white;

}

header li a{

    text-decoration: none;
    color: black;
    font-size: 2em;


}


.welcome_page_content {


    font-size: 1.5em;
    margin: 1em auto;
    width: 75%;


}
.welcome_page_content img{


    width: 70%;

}

.footer
{
    color: gray;
    background-color: black;
    position: fixed;
    display: block;
    text-align: right;
    bottom: 0;
    width: 100%;

}


@media screen and (max-width: 1100px){

    .page_content_profile_page{

        flex-direction: column;
        overflow: hidden;
    }

    .page_content_profile_left, .page_content_profile_right{

        width: 100%;


    }

    .page_content_profile_middle {

        min-height: 5em;
        width: calc(100% - 10px);

    }







}

@media screen and (max-width: 1800px) {

    .page_content .obal_textu{
        display:  block;
        width: 80%;
        margin: 0 auto;

    }
    .obal_rasy{


        display: block;


    }
    .page_content .races_obrazky {

        width: 80%;
        margin: 0 auto;

    }
    .page_content .obal_textu p {

        text-align: left;


    }

    .welcome_page_content img{


        width: 70%;

    }


    .kontajner{

        width: 85%;
        margin: 0 auto;

    }

    .kontajner h1{

        font-size: 100%;


    }
    .page_content .galaxy_map_image{

       max-width: 80%;


    }


    .page_content{

        width: 80%;


    }





    }



@media screen and (max-width: 600px) {

    header {

        float: unset;

    }

    header .vyber {

        margin: 0 auto ;


    }



    .obal_rasy{

        display: block;
        width: 80%;
        margin: 0 auto;
        justify-content: unset;
        align-content: center;

    }

}





